body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: rgb(127, 214, 127);
}
p{
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }